@use "variables" as *;
@use "mixins" as *;
body{
    background-color: $mainDarkViolet;

}
main{
    color:$LighYellow;
}
.themes{
    background-color: $secondaryDarkViolet;

    .active-span{
        background-color:$pureCyan;

    }
}
.input-div{
    color:$LighYellow;
}
.text-field{
    background-color:$secondaryDarkViolet;
    color:inherit;


}
.button-container{
    background-color:$secondaryDarkViolet;
    
}
// bookmark, i stoped here start looking from here 
.number{
    color: $LighYellow;
    background-color:$keyDarkViolet ;
    @include shadow(9px,$keyVividMagenta);

}
.number:active{
    @include shadow(4px,$keyVividMagenta);

}
.reset-button,.del-button{   
    color:$whiteText;
     background-color: $keyBackgroundDarkViolet;
    @include shadow(9px,$keyVividMagenta);
}

.reset-button:active,
.del-button:active{
    @include shadow(4px,$keyVividMagenta) ;

}
.equal-button{
    color:$whiteText;


    background-color: $pureCyan;

    @include shadow(9px,$SoftCyan );
}

.equal-button:active{
     @include shadow(4px,$SoftCyan );

}
//attribution
.attribution {

    color:$LighYellow;
    
}
.attribution a { 
color:$pureCyan;
}